.fa-instagram {
  color: rgb(0, 0, 0);
}

.fa {
  padding: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-left: 3px;
  padding-top: 5px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
