* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #d9d9d9; */
  background: #e4e2d6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* video {
  width: 100%;
  height: auto;
  display: block;
} */

.img_about {
  border-radius: 50%;
}
.col {
  margin: 3.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li {
  float: right;
} */

li a {
  padding: 8px 16px;
  text-decoration: none;
}

.name_footer {
  position: relative;
  top: 20rem;
}

.icons_footer {
  position: relative;
  top: 10rem;
  left: 21.2rem;
}

.rectangle {
  position: relative;
  margin-top: 10rem;
  margin-left: 5rem;
  height: 20rem;
  width: 14rem;
  /* background-color: rgb(156, 82, 82); */
  background-color: #e4e2d6;
}

.pind1 {
  position: absolute;
  margin-top: 46rem;
  height: 0.09rem;
  width: 18rem;
  background-color: #1919d9;
}

.pind2 {
  position: fixed;
  margin-top: 1.5rem;
  margin-left: 21rem;
  height: 46rem;
  width: 0.1rem;
  background-color: #1919d9;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.col_work {
  margin: 35rem;
}

.text_work1 {
  text-align: left;
  padding-bottom: 7rem;
  top: 3rem;
  left: -2rem;
  position: absolute;
}

.text_work2 {
  text-align: right;
  padding-bottom: 7rem;
  top: 13rem;
  left: 18rem;
  position: absolute;
}

.text_work3 {
  text-align: left;
  padding-bottom: 7rem;
  top: 23rem;
  left: -2rem;
  position: absolute;
}

.rectangle2 {
  position: relative;
  margin-top: 1rem;
  margin-left: 30rem;
  margin-right: 30rem;
  height: 50rem;
  width: 20rem;
  background-color: white;
}

@media (min-width: 600px) {
  .col {
    margin: 6rem;
  }

  nav {
    padding-right: 8rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }
  li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
  }
  a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #d95c19;
  }

  .rectangle {
    position: relative;
    margin-top: 12rem;
    margin-left: 10rem;
    height: 20rem;
    width: 35rem;
    background-color: white;
  }

  .rectangle2 {
    position: relative;
    margin-top: 7rem;
    margin-left: 30rem;
    margin-right: 30rem;
    height: 28rem;
    width: 20rem;
    background-color: white;
  }

  .name_footer {
    position: relative;
    top: 20rem;
  }

  .icons_footer {
    position: -webkit-sticky;
    position: sticky;
    left: 46rem;
  }

  .pind1 {
    position: absolute;
    height: 0.09rem;
    width: 70rem;
    background-color: #1919d9;
  }

  .pind2 {
    position: fixed;
    margin-top: 0rem;
    margin-left: 85rem;
    height: 46rem;
    width: 0.1rem;
    background-color: #1919d9;
  }

  .empty_col {
    margin: 0;
  }

  .grid_1_1_x {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1_2_x {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid_2_1_x {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .col_about {
    margin: 3.5rem;
    padding-top: 10rem;
  }

  .img_galleri {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  /* .galleri_video {
    grid-column: 3/5;
    grid-row: 2/3;
  } */

  .galleri_img {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .galleri_img1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .galleri_img2 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .galleri_img3 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .galleri_img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galleri_img5 {
    grid-column: 2/5;
    grid-row: 3/4;
  }
}
