html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #d9d9d9; */
  background: #e4e2d6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.body_grid {
  display: grid;
  grid-template-columns: 90% 0.5fr;
}

/* video {
  width: 100%;
  height: auto;
  display: block;
} */

.img_about {
  border-radius: 50%;
  filter: grayscale();
}
.col {
  margin: 3.5rem;
}

.col_x {
  margin: 3.5rem;
}

.col_about {
  margin: 3.5rem;
}

.empty_col {
  margin: 3.5rem;
}

.name_footer {
  position: sticky;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li {
  float: right;
} */

li a {
  padding: 8px 16px;
  text-decoration: none;
}

/* .footer_class {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 1rem;
} */

/* .name_footer {
  position: absolute;
  top: 0;
  left: 0rem;
} */

.icons_footer {
  /* position: relative;
  top: 10rem;
  left: 21.2rem; */
  text-align: right;
}

.rectangle {
  position: relative;
  margin-top: 10rem;
  margin-left: 5rem;
  height: 20rem;
  width: 14rem;
  /* background-color: rgb(156, 82, 82); */
  background-color: #ffffff;
}

.pind1 {
  position: absolute;
  margin-top: 46rem;
  height: 0.09rem;
  width: 18rem;
  background-color: #1919d9;
}

.pind2 {
  position: fixed;
  margin-top: 1.5rem;
  margin-left: 21rem;
  margin-right: 1rem;
  height: 46rem;
  width: 0.1rem;
  background-color: #1919d9;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.col_work {
  margin: 35rem;
}

.text_work1 {
  text-align: left;
  padding-bottom: 7rem;
  top: 5rem;
  left: -1rem;
  position: absolute;
}

.text_work2 {
  text-align: right;
  padding-bottom: 7rem;
  top: 15rem;
  left: 7.5rem;
  position: absolute;
}

.text_work3 {
  text-align: left;
  padding-bottom: 7rem;
  top: 25rem;
  left: -2rem;
  position: absolute;
}

.text_work4 {
  text-align: right;
  padding-bottom: 7rem;
  top: 35rem;
  left: 7.5rem;
  position: absolute;
}

.text_work_1 {
  text-align: left;
  padding-bottom: 7rem;
  top: 6rem;
  left: -3rem;
  position: absolute;
}

.text_work_2 {
  text-align: right;
  padding-bottom: 7rem;
  top: 16.5rem;
  left: 8rem;
  position: absolute;
}

.text_work_3 {
  text-align: left;
  padding-bottom: 7rem;
  top: 26rem;
  left: -3rem;
  position: absolute;
}

.text_work_4 {
  text-align: right;
  padding-bottom: 7rem;
  top: 36rem;
  left: 8rem;
  position: absolute;
}

.rectangle2 {
  position: relative;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 3rem;
  height: 45rem;
  width: 10rem;
  background-color: white;
}

.grid_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.img_galleri {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_galleri_04 {
  position: relative;
  width: 100px;
  height: 300px;
  /* aspect-ratio: 3.1/10; */
  top: 0%;
  left: 20%;
}

.img_galleri_04_shots {
  position: relative;
  width: 100px;
  height: 100px;
  /* aspect-ratio: 3.1/10; */
  top: 10%;
  left: 30%;
}

.img_galleri_04_flaske {
  position: relative;
  width: 45px;
  height: 150px;
  /* aspect-ratio: 3.1/10; */
  top: 0%;
}

.img_galleri_04_flaske2 {
  position: relative;
  width: 45px;
  height: 150px;
  /* aspect-ratio: 3.1/10; */
  top: 10%;
  left: 50%;
}

.img_galleri_04xx {
  position: relative;
  width: 500px;
  height: 60px;
  /* aspect-ratio: 3.1/10; */
  top: 20%;
  left: 20;
}

.img_galleri_04x {
  position: relative;
  width: 120px;
  height: 100px;
  /* aspect-ratio: 3.1/10; */
  top: 30%;
}

.galleri_img,
.galleri_img2,
.galleri_img4,
.galleri_img5,
.galleri_img6 {
  grid-column-start: span 2;
}

@media (min-width: 600px) {
  .col {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .col_x {
    margin-right: 7rem;
    margin-left: 5rem;
  }

  /* .col_name {
    margin: 0.05rem;
    text-align: left;
  } */

  nav {
    padding-right: 8rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }
  li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
  }
  a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #d95c19;
  }

  .rectangle {
    position: relative;
    margin-top: 12rem;
    margin-left: 10rem;
    height: 20rem;
    width: 35rem;
    background-color: white;
  }

  .rectangle2 {
    position: relative;
    margin-top: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
    height: 76rem;
    width: 20rem;
    background-color: white;
  }

  .name_footer {
    position: sticky;
  }

  .footer_class {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  .icons_footer {
    /* position: relative;
    left: 46rem; */
  }

  .pind1 {
    position: relative;
    height: 1px;
    width: 70rem;
    background-color: #1919d9;
  }

  .pind2 {
    position: fixed;
    margin-top: 1rem;
    margin-left: 85rem;
    height: 48rem;
    width: 0.1rem;
    background: #1919d9;
  }
  .text_work1 {
    text-align: left;
    padding-bottom: 7rem;
    top: 3rem;
    left: -2rem;
    position: absolute;
  }

  .text_work2 {
    text-align: right;
    padding-bottom: 7rem;
    top: 23rem;
    left: 14rem;
    position: absolute;
  }

  .text_work3 {
    text-align: left;
    padding-bottom: 7rem;
    top: 43rem;
    left: -2rem;
    position: absolute;
  }

  .text_work4 {
    text-align: right;
    padding-bottom: 7rem;
    top: 63rem;
    left: 14rem;
    position: absolute;
  }

  .text_work_1 {
    text-align: left;
    padding-bottom: 7rem;
    top: 5rem;
    left: -4rem;
    position: absolute;
  }

  .text_work_2 {
    text-align: right;
    padding-bottom: 7rem;
    top: 25rem;
    left: 15rem;
    position: absolute;
  }

  .text_work_3 {
    text-align: left;
    padding-bottom: 7rem;
    top: 45rem;
    left: -4rem;
    position: absolute;
  }

  .text_work_4 {
    text-align: right;
    padding-bottom: 7rem;
    top: 65rem;
    left: 15rem;
    position: absolute;
  }

  .empty_col {
    margin: 0;
  }

  .grid_1_1_x {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1_2_x {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid_2_1_x {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .col_about {
    margin: 3.5rem;
    padding-top: 14.5rem;
  }

  .img_galleri {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  /* .galleri_video {
    grid-column: 3/5;
    grid-row: 2/3;
  } */

  .galleri_img {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .galleri_img1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .galleri_img2 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .galleri_img3 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .galleri_img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galleri_img5 {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  .img_galleri_04 {
    position: relative;
    width: 300px;
    height: 800px;
    /* aspect-ratio: 3.1/10; */
    top: 0%;
    left: 0%;
  }

  .img_galleri_04_shots {
    position: relative;
    width: 200px;
    height: 200px;
    /* aspect-ratio: 3.1/10; */
    top: 10%;
    left: 20%;
  }

  .img_galleri_04_flaske {
    position: relative;
    width: 125px;
    height: 400px;
    /* aspect-ratio: 3.1/10; */
    top: 0%;
  }

  .img_galleri_04_flaske2 {
    position: relative;
    width: 125px;
    height: 400px;
    /* aspect-ratio: 3.1/10; */
    top: 0%;
    left: 50%;
  }

  .img_galleri_04xx {
    position: relative;
    width: 1000px;
    height: 250px;
    /* aspect-ratio: 3.1/10; */
    top: 20%;
    left: 20;
  }

  .img_galleri_04x {
    position: relative;
    width: 600px;
    height: 400px;
    /* aspect-ratio: 3.1/10; */
    top: 10%;
  }
}
