html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section {
  margin-top: 3rem;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

header {
  margin-bottom: 7rem;
}

footer p {
  text-align: right;
  margin-top: auto;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: #ff7a59;
  font-family: objektiv-mk1, sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

img {
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  display: block;
}

.body_grid {
  display: grid;
  grid-template-columns: 90% 0.5fr;
}

/* .img_about {
  border-radius: 50%;
  filter: grayscale();
  width: 100%;
  height: auto;
} */

aside img {
  border-radius: 50%;
  filter: grayscale();
  width: 100%;
  height: auto;
}
.col_under_img {
  margin: 3.6rem;
}
.col_textbox {
  margin: 3.6rem;
}

.col {
  margin: 1.5rem;
}

.article_col {
  margin: 2rem;
}

.col_aboutme {
  margin: 2rem;
}

.col_projects {
  /* margin: 1rem; */
  /* border: 1px solid #1919d9; */
  margin-left: 2rem;
  margin-right: 0rem;
}

.col_portofolio {
  margin: 1rem;
}

.col_portofolio h3 {
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  margin-top: 1rem;
}

.oversigt_projects {
  margin-top: 8.5rem;
}

.center {
  background: #f8f8f8;
  border: 1px solid #1919d9;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.center a {
  color: #1919d9;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5.9rem;
  text-align: center;
  text-decoration: none;
}

.col_x {
  margin: 3.5rem;
}

.col_about {
  margin-left: 3rem;
}

.empty_col {
  margin: 3.5rem;
}

.icons_footer {
  position: fixed;
  top: 45.5rem;
  left: 0.5rem;
  bottom: 1px;
  width: 27px;
}

.icons_footer a {
  text-decoration: none;
  color: #d95c19;
}

.info {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
  line-height: 28px;
  /* letter-spacing: 1px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fade2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e2e2efae;
  border-radius: 50%;
}

.col_info {
  position: relative;
  margin: 2rem;
}

.col_info:hover .fade2 {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: grayscale();
  width: 100%;
  height: auto;
}

.footer_class {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  padding: 8px 16px;
  text-decoration: none;
  font-family: objektiv-mk1, sans-serif;
  /* letter-spacing: 2px; */
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  font-style: normal;
  text-decoration: none;
  color: #ff7a59;
}

.rectangle {
  position: relative;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 20rem;
  width: 14rem;
  /* background-color: rgb(156, 82, 82); */
  background-color: #ffffff;
}

.pind2 {
  position: fixed;
  top: 7rem;
  left: 2.5rem;
  height: 50rem;
  width: 0.1rem;
  background: #1919d9;
}

.grid_video {
  grid-template-columns: 1fr;
  max-width: 800px;
  margin: auto;
  /* padding-bottom: 5rem;
  padding-top: 3rem; */
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid_2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1_1_1 {
  display: grid;
  grid-template-columns: 1fr;
}

.col_work {
  margin: 35rem;
}

.text_work1 {
  text-align: left;
  padding-bottom: 7rem;
  top: 5rem;
  left: -1rem;
  position: absolute;
}

.text_work2 {
  text-align: right;
  padding-bottom: 7rem;
  top: 15rem;
  left: 7.5rem;
  position: absolute;
}

.text_work3 {
  text-align: left;
  padding-bottom: 7rem;
  top: 25rem;
  left: -2rem;
  position: absolute;
}

.text_work4 {
  text-align: right;
  padding-bottom: 7rem;
  top: 35rem;
  left: 7.5rem;
  position: absolute;
}

.text_work_1 {
  text-align: left;
  padding-bottom: 7rem;
  top: 6rem;
  left: -3rem;
  position: absolute;
}

.text_work_2 {
  text-align: right;
  padding-bottom: 7rem;
  top: 16.5rem;
  left: 8rem;
  position: absolute;
}

.text_work_3 {
  text-align: left;
  padding-bottom: 7rem;
  top: 26rem;
  left: -3rem;
  position: absolute;
}

.text_work_4 {
  text-align: right;
  padding-bottom: 7rem;
  top: 36rem;
  left: 8rem;
  position: absolute;
}

.rectangle2 {
  position: relative;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 3rem;
  height: 45rem;
  width: 10rem;
  background-color: white;
}

.grid_galleri_03 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.img_galleri {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_galleri_04 {
  position: relative;
  width: 100px;
  height: 300px;
  /* aspect-ratio: 3.1/10; */
  top: 0%;
  left: 20%;
}

.img_galleri_04_shots {
  position: relative;
  width: 100px;
  height: 100px;
  /* aspect-ratio: 3.1/10; */
  top: 10%;
  left: 30%;
}

.img_galleri_04_flaske {
  position: relative;
  width: 45px;
  height: 150px;
  /* aspect-ratio: 3.1/10; */
  top: 0%;
}

.img_galleri_04_flaske2 {
  position: relative;
  width: 45px;
  height: 150px;
  /* aspect-ratio: 3.1/10; */
  top: 10%;
  left: 50%;
}

.img_galleri_04xx {
  position: relative;
  width: 500px;
  height: 60px;
  /* aspect-ratio: 3.1/10; */
  top: 20%;
  /* left: 20; */
}

.img_galleri_04x {
  position: relative;
  width: 120px;
  height: 100px;
  /* aspect-ratio: 3.1/10; */
  top: 30%;
}

.galleri_img,
.galleri_img2,
.galleri_img4,
.galleri_img5,
.galleri_img6 {
  grid-column-start: span 2;
}

@media (min-width: 600px) {
  header {
    margin-bottom: 5rem;
  }

  .col {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .article_col {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .col_portofolio {
    margin: 1rem;
  }

  .col_xx {
    margin-top: 9rem;
    margin-right: 7rem;
    margin-left: 7rem;
  }

  .col_x {
    margin-right: 10rem;
    margin-left: 7rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }
  li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
  }
  a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #d95c19;
  }

  .rectangle {
    position: relative;
    /* margin-top: 12rem; */
    /* margin-left: 10rem; */
    top: 2rem;
    left: 7rem;
    height: 20rem;
    width: 35rem;
    background-color: white;
  }

  /* .rectangle2 {
    position: relative;
    margin-top: 1rem;
    margin-left: 30rem;
    margin-right: 30rem;
    height: 76rem;
    width: 20rem;
    background-color: white;
  } */

  .name_footer {
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1rem; */
    position: fixed;
    top: 5.5rem;
    left: 0;
    bottom: 1px;
    width: 27px;
    /* overflow-y: scroll; */
  }

  .footer_class {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 0.5rem;
    padding-bottom: 1rem;
  }

  .icons_footer {
    /* left: 46rem; */
    /* right: 0;
    position: fixed;
    top: 46rem;
    bottom: 1px; */
    position: fixed;
    top: 45.5rem;
    left: 0.5rem;
    bottom: 1px;
    width: 27px;
  }

  /* .pind1 {
    position: relative;
    height: 1px;
    width: 70rem;
    background-color: #1919d9;
  } */

  .pind2 {
    position: fixed;
    top: 5rem;
    left: 2.5rem;
    height: 50rem;
    width: 0.1rem;
    background: #1919d9;
  }

  .text_work1 {
    text-align: left;
    padding-bottom: 7rem;
    top: 3rem;
    left: -2rem;
    position: absolute;
  }

  .text_work2 {
    text-align: right;
    padding-bottom: 7rem;
    top: 23rem;
    left: 14rem;
    position: absolute;
  }

  .text_work3 {
    text-align: left;
    padding-bottom: 7rem;
    top: 43rem;
    left: -2rem;
    position: absolute;
  }

  .text_work4 {
    text-align: right;
    padding-bottom: 7rem;
    top: 63rem;
    left: 14rem;
    position: absolute;
  }

  .text_work_1 {
    text-align: left;
    padding-bottom: 7rem;
    top: 5rem;
    left: -4rem;
    position: absolute;
  }

  .text_work_2 {
    text-align: right;
    padding-bottom: 7rem;
    top: 25rem;
    left: 15rem;
    position: absolute;
  }

  .text_work_3 {
    text-align: left;
    padding-bottom: 7rem;
    top: 45rem;
    left: -4rem;
    position: absolute;
  }

  .text_work_4 {
    text-align: right;
    padding-bottom: 7rem;
    top: 65rem;
    left: 15rem;
    position: absolute;
  }

  .empty_col {
    margin: 0;
  }

  .grid_1_1_x {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1_2_x {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid_2_1_x {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
  }
  .col_about {
    margin: 3.5rem;
    padding-top: 14.5rem;
  }

  .img_galleri {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid_galleri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .galleri_img {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .galleri_img1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .galleri_img2 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .galleri_img3 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .galleri_img4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galleri_img5 {
    grid-column: 2/5;
    grid-row: 3/4;
  }

  .img_galleri_04 {
    position: relative;
    width: 300px;
    height: 800px;
    top: 0%;
    left: 0%;
  }

  .img_galleri_04_shots {
    position: relative;
    width: 200px;
    height: 200px;
    top: 10%;
    left: 20%;
  }

  .img_galleri_04_flaske {
    position: relative;
    width: 125px;
    height: 400px;
    top: 0%;
  }

  .img_galleri_04_flaske2 {
    position: relative;
    width: 125px;
    height: 400px;
    top: 0%;
    left: 50%;
  }

  .img_galleri_04xx {
    position: relative;
    width: 1000px;
    height: 250px;
    top: 20%;
    left: 20;
  }

  .img_galleri_04x {
    position: relative;
    width: 600px;
    height: 400px;
    top: 10%;
  }

  .grid_galleri_03 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    grid-template-rows: 1fr 1fr;
  }

  .grid_galleri_03 img {
    height: 500px;
    width: 500px;
  }

  .galleri_img_03 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .galleri_img_03_1 {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .galleri_img_03_2 {
    grid-column: 3/5;
    grid-row: 2/4;
  }

  .galleri_img_03_3 {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  /* 
  .img_about {
    border-radius: 50%;
    filter: grayscale();
    width: 350px;
    height: 350px;
  } */

  .col_textbox {
    margin: 1rem;
  }
  .col_projects {
    /* border: 1px solid #1919d9; */
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-top: 3rem;
  }

  .col_portofolio {
    margin-top: 1rem;
  }

  .col_portofolio h3 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  .center {
    background-color: #f8f8f8;
    border: 1px solid #1919d9;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 5rem;
  }

  .center a {
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.7rem;
    margin: 1rem;
    color: #1919d9;
    text-decoration: none;
  }

  footer p {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #ff7a59;
    font-family: objektiv-mk1, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
  }

  aside {
    float: right;
    /* margin: 0 1.5%; */
    width: 40%;
  }

  aside img {
    border-radius: 50%;
    filter: grayscale();
    width: 100%;
    height: auto;
  }

  aside p {
    text-align: center;
  }

  .section {
    float: left;
    /* margin: 0 1.5%; */
    width: 60%;
  }

  .col_aboutme {
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .col_opgavetekst {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }

  .fade2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #e2e2efae;
    border-radius: 50%;
  }

  .col_info {
    position: relative;
    margin: 2rem;
  }

  .col_info:hover .fade2 {
    opacity: 1;
  }
  .grid_video {
    grid-template-columns: 1fr;
    max-width: 950px;
    margin: auto;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    filter: grayscale();
    width: 100%;
    height: auto;
  }

  .info {
    color: #08086c;
    font-family: objektiv-mk1, sans-serif;
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 28px;
    /* letter-spacing: 1px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.slides {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #0037ff;
  font-weight: lighter;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  text-decoration: none;
}
.prev,
.next a {
  text-decoration: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(253, 253, 253, 0.631);
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #404f85;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e6e4e4;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
