* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #d9d9d9; */
  background: #e4e2d6;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col {
  margin: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  padding: 8px 16px;
  text-decoration: none;
}

.name_footer {
  position: relative;
  top: 20rem;
}

.icons_footer {
  position: relative;
  top: 10rem;
  left: 8.5rem;
}

.rectangle {
  margin-top: 10rem;
  margin-left: 5rem;
  height: 20rem;
  width: 14rem;
  /* background-color: rgb(156, 82, 82); */
  background-color: #e4e2d6;
}
/* 
.pind1 {
    margin-top: 10rem;
    margin-left: 5rem;
    height: 20rem;
    width: 14rem;
    /* background-color: rgb(156, 82, 82); */
    background-color: #e4e2d6;
  }

  .pind2 {
    margin-top: 10rem;
    margin-left: 5rem;
    height: 20rem;
    width: 14rem;
    /* background-color: rgb(156, 82, 82); */
    background-color: #e4e2d6;
  } */


.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (min-width: 600px) {
  nav {
    padding-right: 8rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }
  li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
  }
  a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #d95c19;
  }

  .rectangle {
    margin-top: 7.5rem;
    margin-left: 10rem;
    height: 20rem;
    width: 35rem;
    background-color: white;
  }
  .name_footer {
    position: relative;
    top: 20rem;
  }

  .icons_footer {
    position: relative;
    top: 9rem;
    left: 41.5rem;
  }


/* .pind1 {
    margin-top: 10rem;
    margin-left: 5rem;
    height: 10rem;
    width: 0.5rem;
    /* background-color: rgb(156, 82, 82); */
    /* background-color: #e4e2d6;
  }

  .pind2 {
    margin-top: 10rem;
    margin-left: 5rem;
    height: 20rem;
    width: 14rem;
    background-color: rgb(156, 82, 82);
    background-color: #e4e2d6; */
  } 

