/* .mobil-menu li:hover {
  background: none;
  border-bottom: none;
}

.mobil-menu li {
  transition: none;
}
.mobil-menu {
  /* margin-top: 10px; */
/* height: 160px;
  display: none;
}

.mobil-menu a {
  text-decoration: none;
  color: #ff7a59;
  gap: 0.2rem;
}

.menu-v {
  display: block;
}

.burgermenu {
  margin: 0.5rem;
  width: 30px;
}

.burgermenu-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav_style {
    display: none;
  }

  .burgermenu-container {
    display: block;
  }

  nav {
    display: none;
  }
} */
