body {
  /* background: #fcfcfa; */
  /* background-color: #edebe1; */
  background-color: #f8f8f8;
}

p {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 28px;
  letter-spacing: 1px;
}

/* .delay_galleri {
  animation-delay: 250ms;
} */

h1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  color: #1919d9;
}

h2 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1rem;
}

h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.h2_forside {
  position: fixed;
  left: 14rem;
  top: 25rem;
  font-size: 0.7rem;
}

.h1 {
  position: absolute;
  top: 13rem;
  left: -12.5rem;
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: #1919d9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  -webkit-transform: rotate(-90deg);
}

.h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}

.h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: right;
  padding-right: 1rem;
}

.h1_1 {
  position: absolute;
  top: 8rem;
  left: -9rem;
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */
  -webkit-transform: rotate(-90deg);
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.h1_2 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #1919d9;
  align-items: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
  text-align: center;
}

.footer_class {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: objektiv-mk1, sans-serif;
  font-size: 0.8rem;
  /* letter-spacing: 2px; */
  /* color: #08086c; */
  color: #d95c19;
  /* font-family: quasimoda, sans-serif; */
  font-weight: 400;
  font-style: normal;
  /* padding-bottom: 1rem; */
}

.fa {
  padding: 0;
  padding-left: 3px;
  padding-top: 5px;
  font-size: 20px;
  text-align: rigth;
}

a {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  font-style: normal;
  text-decoration: none;
  color: #ff7a59;
}

/* .link_text {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.1rem;
} */

.link_text {
  color: #1919d9;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  /* border: 1px solid #1919d9; */
}

.link_textx {
  /* color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.5rem; */
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  color: #1919d9;
  /* color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #1919d9; */
}

.link_text1 {
  /* color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.5rem; */
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.h1_work {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  position: relative;
  top: 2rem;
  left: 1rem;
}

.h1_work1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
  position: absolute;
  top: 8rem;
  left: 5rem;
}

.h3_class {
  /* position: relative;
  left: 18rem;
  top: 6.5rem; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  top: 1rem;
  right: 1rem;
  /* overflow-y: scroll; */
  writing-mode: verstical-rl;
  text-orientation: mixed;
}

.h1_x {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

.h1_xx {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

nav {
  --les-than: 800;
  --burger-lines: #ff7a59;
  --burger-border: none;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.h1_about {
  position: relative;
  top: 0rem;
  left: 0;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #1919d9;
}

.h1_aboutx {
  position: relative;
  left: 1rem;
  top: -0.5rem;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.text {
  padding: 16px 32px;
  font-size: 1.5rem;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 100;
  font-style: normal;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #08086c;
}

@media (min-width: 600px) {
  h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .h1 {
    position: absolute;
    top: 10rem;
    left: -17rem;
    /* writing-mode: vertical-rl;
    text-orientation: sideways; */
    -webkit-transform: rotate(-90deg);
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: #1919d9;
  }

  .h1_1 {
    position: absolute;
    top: 4rem;
    left: -13rem;
    -webkit-transform: rotate(-90deg);
    /* writing-mode: vertical-rl;
    text-orientation: sideways-right; */
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_2 {
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    color: #1919d9;
    align-items: center;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
    text-align: center;
  }

  .h2_forside {
    position: fixed;
    left: 41rem;
    top: 25rem;
    font-size: 1rem;
  }

  .h1_x {
    position: relative;
    top: 0rem;
    left: 0rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
  }

  .h1_xx {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_about {
    position: relative;
    top: 0rem;
    left: -1rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
  }

  .h1_aboutx {
    position: relative;
    left: 4rem;
    top: -2rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_work {
    position: relative;
    top: 5rem;
    left: 5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
  }

  .h1_work1 {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h3_class {
    /* position: relative; */
    /* left: 35rem;
    top: 5rem; */
    position: fixed;
    top: 9rem;
    right: 1rem;
    /* overflow-y: scroll; */
    writing-mode: verstical-rl;
    text-orientation: mixed;
  }

  .h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
  }

  .link_text1 {
    /* position: absolute;
    top: 0;
    left:0; */
    color: #1919d9;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.3rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .link_text {
    /* color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5rem; */
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.7rem;
    /* color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: #1919d9;
  }
  .link_textx {
    /* color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5rem; */
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.7rem;
    /* color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: #1919d9;
  }
}
