* {
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfa;
}

p {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (min-width: 600px) {
}
