body {
  /* background: #fcfcfa; */
  /* background-color: #edebe1; */
  background-color: #f8f8f8;
}

p {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 28px;
  letter-spacing: 1px;
}

/* .delay_galleri {
  animation-delay: 250ms;
} */

h1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  color: #1919d9;
}

h2 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1rem;
}

h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.h2_forside {
  position: absolute;
  left: 13rem;
  top: 23rem;
  font-size: 0.6rem;
}

.h1 {
  position: absolute;
  top: 10rem;
  left: -14.5rem;
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: #1919d9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  -webkit-transform: rotate(-90deg);
}

.h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}

.h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: right;
  padding-right: 1rem;
}

.h1_1 {
  position: absolute;
  top: 5rem;
  left: -11rem;
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */
  -webkit-transform: rotate(-90deg);
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.h1_2 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #1919d9;
  align-items: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
  text-align: center;
}

.footer_class {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: quasimoda, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #08086c;
  font-family: quasimoda, sans-serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.fa {
  padding: 0;
  padding-left: 3px;
  padding-top: 5px;
  font-size: 25px;
  text-align: rigth;
}

a {
  font-family: quasimoda, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #d95c19;
}

/* .link_text {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.1rem;
} */

.link_text {
  color: #1919d9;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #1919d9;
}

.link_text1 {
  /* color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.5rem; */
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.h1_work {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  position: relative;
  top: 2rem;
  left: 1rem;
}

.h1_work1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
  position: absolute;
  top: 8rem;
  left: 5rem;
}

.h3_class {
  /* position: relative;
  left: 18rem;
  top: 6.5rem; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: right;
}

@media (min-width: 600px) {
  h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .h1 {
    position: absolute;
    top: 10rem;
    left: -17rem;
    /* writing-mode: vertical-rl;
    text-orientation: sideways; */
    -webkit-transform: rotate(-90deg);
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
  }

  .h1_1 {
    position: absolute;
    top: 7rem;
    left: -12rem;
    -webkit-transform: rotate(-90deg);
    /* writing-mode: vertical-rl;
    text-orientation: sideways-right; */
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_2 {
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    color: #1919d9;
    align-items: center;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
    text-align: center;
  }

  .h2_forside {
    position: absolute;
    left: 35rem;
    top: 8rem;
    font-size: 1rem;
  }

  .h1_x {
    position: relative;
    top: 5rem;
    left: 5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
  }

  .h1_xx {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_work {
    position: relative;
    top: 5rem;
    left: 5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
  }

  .h1_work1 {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h3_class {
    /* position: relative; */
    /* left: 35rem;
    top: 5rem; */
    text-align: right;
    writing-mode: verstical-rl;
    text-orientation: mixed;
  }

  .h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
  }

  .link_text1 {
    /* position: absolute;
    top: 0;
    left:0; */
    color: #1919d9;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .link_text {
    /* color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5rem; */
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15rem;
    /* color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: #1919d9;
  }
}
