* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #fcfcfa; */
  /* background-color: #edebe1; */
  background-color: #f8f8f8;
}

p {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  color: #1919d9;
}

h2 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1rem;
}

.h2 {
  position: fixed;
  left: 13rem;
  top: 23rem;
  font-size: 0.6rem;
}

.h1 {
  position: fixed;
  top: 150px;
  left: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: #1919d9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
}

.h1_1 {
  position: fixed;
  top: 11rem;
  left: 4rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.footer_class {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.fa {
  padding: 0;
  padding-left: 3px;
  padding-top: 5px;
  font-size: 25px;
  text-align: rigth;
}

a {
  font-family: quasimoda, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #d95c19;
}

.link_text {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.5rem;
}

.h1_work {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7rem;
}

.h1_work1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

@media (min-width: 600px) {
  .h1 {
    position: absolute;
    top: -5rem;
    left: -4rem;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
  }

  .h1_1 {
    position: absolute;
    top: -3rem;
    left: -2rem;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h2 {
    position: absolute;
    left: 35rem;
    top: 7rem;
    font-size: 1rem;
  }

  .h1_work {
    position: relative;
    top: 4rem;
    left: 5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
  }

  .h1_work1 {
    position: absolute;
    left: 7.3rem;
    top: 6.2rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }
}
