body {
  background-color: #f8f8f8;
}

#show {
  display: none;
}

p {
  color: #08086c;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-size: 0.85rem;
  line-height: 28px;
  letter-spacing: 1px;
}

h1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8rem;
  color: #1919d9;
}

h2 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.h2_forside {
  position: absolute;
  left: 11rem;
  top: 8rem;
  font-size: 0.7rem;
}

.h3 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}

.h4 {
  color: #1919d9;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-right: 1rem;
}

.h1 {
  position: absolute;
  top: 8rem;
  left: -12.7rem;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: #1919d9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  transform: rotate(-90deg);
}

.h1_1 {
  position: absolute;
  top: 5rem;
  left: -9rem;
  transform: rotate(-90deg);
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.h1_2 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #1919d9;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.fa {
  padding: 0;
  padding-left: 3px;
  padding-top: 5px;
  font-size: 23px;
  text-align: right;
}

a {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.6rem;
  font-style: normal;
  text-decoration: underline;
  color: #1919d9;
}

.h1_work {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  position: relative;
  top: 2rem;
  left: 1rem;
}

.h1_work1 {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.5rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
  position: absolute;
  top: 8rem;
  left: 5rem;
}

.h3_class {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.h1_x {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5rem;
}

.h1_xx {
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

nav {
  --les-than: 800;
  --burger-lines: #ff7a59;
  --burger-border: none;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.h1_about {
  position: relative;
  left: 0;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: #1919d9;
}

.h1_aboutx {
  position: relative;
  margin-bottom: 1rem;
  font-family: jeanne-moderno-titling, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1919d9;
}

.text {
  padding: 16px 32px;
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  color: #08086c;
}

@media (min-width: 900px) {
  h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .h1 {
    position: absolute;
    top: 9rem;
    left: -18rem;
    transform: rotate(-90deg);
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: #1919d9;
  }

  .h1_1 {
    position: absolute;
    top: 4rem;
    left: -13rem;
    transform: rotate(-90deg);
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_2 {
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.3rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    color: #1919d9;
  }

  .h2_forside {
    position: fixed;
    left: 40rem;
    top: 25rem;
    font-size: 1rem;
  }

  .h1_x {
    position: relative;
    top: 0rem;
    left: 0rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6.5rem;
  }

  .h1_xx {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_about {
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6.5rem;
  }

  .h1_aboutx {
    margin-bottom: 1.5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6.5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h1_work {
    position: relative;
    top: 5rem;
    left: 5rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
  }

  .h1_work1 {
    position: absolute;
    left: 10rem;
    top: 12rem;
    font-family: jeanne-moderno-titling, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1919d9;
  }

  .h3_class {
    text-orientation: mixed;
    position: fixed;
    top: 10rem;
    right: 1rem;
  }

  .h3 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;
  }
  .h4 {
    color: #1919d9;
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding-right: 1rem;
    text-align: right;
  }
}

.mobil-menu li:hover {
  background: none;
  border-bottom: none;
}

.mobil-menu li {
  transition: none;
}
.mobil-menu {
  display: none;
}

.mobil-menu a {
  text-decoration: none;
  color: #ff7a59;
  gap: 0.2rem;
}

.menu-v {
  display: block;
}

.burgermenu {
  margin: 0.5rem;
  width: 30px;
}

.burgermenu-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav_style {
    display: none;
  }

  .burgermenu-container {
    display: block;
  }

  nav {
    display: none;
  }
}
